body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-caption {
  text-shadow: 1px 1px black;
  font-size: larger;
  mix-blend-mode: normal;
}

.carousel-caption p{
  font-size: smaller;
}

.carousel-control-next-icon {
  text-shadow: 1px 1px black;
}
.sr-only {
  text-shadow: 1px 1px black;
}

.likedClass {
  background-color: blue;
}
.notLikedClass {
  background-color: white;
}
.notLikedClass i {
  color: black;
}

form {
  padding: 10px;
}

#fancomments {
  max-width: 40%;
  overflow-wrap: break-word ;
}